body {
    color: grey;
    margin: 0px;
    background-color: black;
}

.upmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.upmenu>.upmenu-wraper {
    display: grid;
    margin-top: 4px;
}

.upmenu>.upmenu-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upmenu>.upmenu-wraper .upmenuelem {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    text-align: center;
    width: 120px;
    opacity: 0.7;
}

.upmenu>.upmenu-wraper .upmenuelem:hover {
    letter-spacing: 2px;
    opacity: 1;
}

.upmenu>.upbutton {
    display: flex;
    justify-content: space-between;
}

.upmenu>.upbutton>.upbuttonelem {
    background-color: rgb(36, 36, 36);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
    text-decoration: none;
    color: white;
    opacity: 0.7;
    outline: none;
    transition: all 0.3s;
}

.upmenu>.upbutton>.uobuttonelem:active {
    box-shadow: none;
}

.upmenu>.upbutton>.upbuttonelem:hover {
    opacity: 1;
}

.upmenu .codelogo a img {
    height: 30px;
    width: 150px;
    opacity: 0.7;
    transition: 0.5s;
}

.upmenu .codelogo a img:hover {
    opacity: 1;
}

.textarea {
    display: flex;
    justify-content: space-between;
    background: rgb(36, 36, 36);
}

.textarea button {
    background-color: rgb(36, 36, 36);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 150);
    text-decoration: none;
    color: white;
    opacity: 0.7;
    outline: none;
    transition: all 0.3s;
}

.textarea button:hover {
    opacity: 1;
}

.textarea .tgreen {
    background-color: green;
}

.textarea .tblack {
    background-color: black;
}

.textarea img {
    margin: 25px 40px 30px 0px;
    width: 500px;
}

.downmenu>.downmenu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: rgb(36, 36, 36);
}

.downmenu>.downmenu-wrapper>.downmenuelem {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    opacity: 0.7;
}

.downmenu>.downmenu-wrapper>.downmenuelem:hover {
    opacity: 1;
}

.textcolor {
    color: lightblue;
}

.colorgreen {
    color: green;
}
